<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="default">
    <title>Kellers-Holz</title>
    <link rel="preload" href="fonts/Georgia-Regular.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Georgia-italic.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Georgia-Bold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Georgia-Script.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Roboto-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Roboto-Regular.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Roboto-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Roboto-Bold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Roboto-Black.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
