:root {
  --body-bg:#141414;



  --content-width: 1422px;
  --container-offset: 10px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-width-mode: calc(1520px + var(--container-offset) * 2);
  --container-width-mini: calc(1282px + var(--container-offset) * 2);

  --font-family: "Roboto", sans-serif; // var(--font-family);
  --font-family1: "Georgia", sans-serif; // var(--font-family1);
  --font-family2: "Georgia-Script", sans-serif; // var(--font-family2);
 
  // text color
  --color-a: #ffffff; // var(--color-a);
  --color-b:  #000000; // var(--color-b);
  --color-c: #FFD300; // var(--color-c);
  --color-d: rgba(255, 255, 255, 0.7); // var(--color-d);
  --color-d-shadow: rgba(255, 255, 255, 0.2); // var(--color-d-shadow);
  --color-e: #FFF227; // var(--color-e);
  --color-f: #8E898F; // var(--color-f);
  --color-g: #FED105; // var(--color-g);
  --color-h: #808285; // var(--color-h);
  --color-i:  #FED105; // var(--color-i);
  --color-j:  #8E898F; // var(--color-j);
  --color-k: #56CCF2; // var(--color-k);
  --color-l: #231F20; // var(--color-l);

  --color-m: #738396; // var(--color-m);

  // bg color
  --bg-a: #ffffff; // var(--bg-a);
  --bg-b: #000000; // var(--bg-b);
  --bg-c: #8e898f; // var(--bg-c);
  --bg-g:rgba(238, 85, 20, 0.1);// var(--bg-g);
  --bg-d: #FFD300; // var(--bg-d);
  --bg-e: rgba(255, 255, 255, 0.3); // var(--bg-e);
  --bg-f: #FED105; // var(--bg-f);
  --bg-r: #E91414; // var(--bg-r);
  --bg-i:  #141414; // var(--bg-i);
  --bg-o:  #ffe101; // var(--bg-o);
  --bg-n:  rgba(142, 137, 143, 0.1); // var(--bg-n);
 



  --bg-header: #000000; // var(--bg-header);
  --bg-header1: rgba(0, 0, 0, 0.6); // var(--bg-header1);
  --svg-fill: #0079C5;// var(--svg-fill);
  --bg-index-first: #0C1A36; // var(--bg-index-first);
  --bg-index-partners: #0C1A36; // var(--bg-index-partners);
  --bg-btn: rgba(238, 85, 20, .1); // var(--bg-btn);
  --bg-btn2: rgba(238, 85, 20, 0.918); // var(--bg-btn2);



  //hover
  --svg-fill-hover:#E7E04D;// var(--svg-fill-hover);
  --btn-hover: rgba(238, 85, 20, .1); // var(--btn-hover);

  //border color
  --border-a: rgba(255, 255, 255, 0.4); // var(--border-a);
  --border-b: #F17B7B; // var(--border-b);
  --border-c: #a6a4a4; // var(--border-c);
}
